
.ftitle{
font-size:14px;
font-weight:bold;
padding:5px 0;
margin-bottom:10px;
border-bottom:1px solid #ccc;
}
.fitem{
margin-bottom:5px;
}
.fitem label{
display:inline-block;
width:80px;
}
.fitem input{
width:160px;
}

/*****************************SSO******************************/
.tabel {
	width:90%;
	border-top:1px solid #e3f1fe;
	border-right:1px solid #e3f1fe;
	margin:1em auto;
		border-collapse:collapse;
	}

.odd, .column1 {
	background:#f4f9fe url(images/background.gif) no-repeat;
	}	
.column1	{
	background:#f9fcfe;
	font-weight:normal;
	color: #678197;
	text-align:left;
	border-bottom: 1px solid #e3f1fe;
	border-left:1px solid #e5eff8;
	padding:.3em 1em;
	}
.tabledata {
	color:#678197;
	border-bottom: 1px solid #e3f1fe;
	border-left:1px solid #e5eff8;
	padding:.3em 1em;
	text-align:center;
	}				

thead th {
	background:#f4f9fe;
	text-align:center;
	font:bold 1.2em/2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
	color:#66a3d3
	}				
tfoot th {
	background:#f4f9fe;
	text-align:center;
	}	
tfoot th strong {
	font:bold 1.2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
	margin:.5em .5em .5em 0;
	color:#66a3d3;
		}		
tfoot th em {
	color:#f03b58;
	font-weight: bold;
	font-size: 1.1em;
	font-style: normal;
	}	

.tt-inner{
display:inline-block;
line-height:12px;
padding-top:5px;
}
.tt-inner img{
border:0;
} 
#fm{
margin:0;
padding:10px 30px;
}


/*****************************************SSO CLAM CSS*************************/
#fmclaimsso{
margin:0;
padding:10px 30px;
}

/*****************************************SSO CLAM CSS*************************/	